<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div class="new">
  <%= link_to "New post", new_post_path %>
</div>
<%= turbo_frame_tag "cats-list" do %>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </div>

<% end %>


